.App {
  text-align: center;
  background-color: #12091f;

}


.App-header {
  background-color: #12091f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading {
  background: linear-gradient(90deg, #4facfe, #00f2fe, #6a11cb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-weight: bold;
}
.days{
  color: #dbd777;
}

.wrapper {
  text-align: left;
  margin: 5px;
  background-color: #221a2d;
  padding: 30px;
  width: 95%;
  border-radius: 30px;
}

.day2Name{
  text-transform: capitalize;
}